body {
  margin: 0 auto;
}

.first-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 50vh;
  margin: 0 auto;
}


.mp-container {
  border: solid 5px black;
  padding: 20px 20px;
  border-radius: 25px;
}

.title {
  font-size: 3rem;
  text-align: center;
}

form label, form input, form select {
  display: block;
  margin-bottom: 10px;
}

.btn {
  background-color: teal;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 25px;
}

/* For devices with screen width between 320px and 767px, such as iPhone */
@media (min-width: 320px) and (max-width: 767px) {
  .first-container {
    width: 90%;
  }
}

/* For devices with screen width between 768px and 1023px, such as iPad */
@media (min-width: 768px) and (max-width: 1023px) {
  .first-container {
    width: 70%;
  }
}

/* For devices with screen width of 1024px or larger, such as large desktop screens */
@media (min-width: 1024px) {
  .first-container {
    width: 50%;
  }
}


